<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
    <script src="./static/mywebscript.js"></script>
    <style>
        .center-heading {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h1 class="center-heading">NLP - Emotion Detection</h1> 

            <!-- Form to submit text -->
            <form method="POST" action="/emotionDetector">
                <div class="form-group" style="padding: 25px 0;">
                    <label class="form-label">Please enter the text to be analyzed</label>
                    <textarea class="form-control" name="text_to_analyze" id="textToAnalyze" rows="3"></textarea>
                </div>

                <div style="padding: 25px 0;">
                    <button type="submit" class="btn btn-secondary">Run Sentiment Analysis</button>
                </div>
            </form>

            <div style="padding: 25px 0;">
                <h2 class="mb-3">Result of Emotion Detection</h2>
                <div id="system_response">
                    {% if result %}
                        {{ result }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>

